body {
    min-height: 3000px;
}
.jumbotron {
    padding-top: 6rem;
    background-color: hsla(41, 100%, 63%, 0.7);
}

#projects {
    background-color: hsla(41, 100%, 63%, 0.7);
}

a {
    color: white;
}

section {
    padding-top: 5rem;
}
